<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryptid</title>
    <link rel="shortcut icon" href="./assets/ts.png" type="image/x-icon">

</head>
<style>
     @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

    body {
        background-color: black;
        font-family: 'Outfit', sans-serif;
        color: #eee;
        text-align: center;
    }
</style>
<body>
    <%- include('./partials/nav.ejs') %>

    You are banned!
</body>

</html>