<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgot.css">
    <link rel="shortcut icon" href="./assets/ts.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="forgot-div" onsubmit="load()">
        <h1>Forgot Password</h1>
        <form id="forgotForm">
            <label for="email"> Email </label> <br>
            <input name="email" id="email" type="email" autocomplete="off" required placeholder="Same as inTech Registration"> <br>
            <button type="submit" id="forgotBtn">Submit</button>
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script type="module" src="js/forgot.js"></script>
<script>
    var button = document.querySelector('#forgotBtn')

    function load() {
        this.disabled = true;
        this.innerHTML = `
            <div class="loader">
            </div>
        `
        this.style.cursor = "not-allowed";
        setTimeout(() => {
            this.disabled = false;
            this.innerHTML = "Submit";
            this.style.cursor = "pointer";
        }, 7000);
    }
    button.addEventListener('click', load)
</script>

</html>