<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryptid</title>
    <link rel="shortcut icon" href="./assets/ts.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="landing-div">
        <div class="countdown-div">
            <h2>
                The hunt is Over!
            </h2>
        </div>
        <img src="./assets/encryptid.png" alt="encryptid img">
    </div>
</body>
</html>