<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryptid</title>
    <link rel="shortcut icon" href="./assets/ts.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="landing-div">
        <div class="countdown-div">
            <h2>
                The hunt is live!
            </h2>
            <ul class="countdown">
                <li><p>days</p><span id="days">0</span></li>
                <li><p>hrs</p><span id="hrs">00</span></li>
                <li><p>mins</p><span id="mins">00</span></li>
                <li style="color: #16e16e;"><p>sec</p><span id="secs">00</span></li>
            </ul>
            <div class="button-panel">
                <button>
                    FAQ
                </button>
                <button>
                    Rules
                </button>
            </div>
        </div>
        <img src="./assets/encryptid.png" alt="encryptid img">
    </div>
</body>
<script>
//countdown
</script>
</html>