<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/leaderboard.css">
    <link rel="shortcut icon" href="./assets/ts.png" type="image/x-icon">

    <title>Leaderboard</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="leaderboard-div">
        <h1>Competitive Leaderboard</h1>
        <input type="text" id="search" placeholder="Search users" autocomplete="off" onkeyup="search()">
        <table id="users-table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Points</th>
            </tr>
            <tbody>
                <% for( let i = 0; i < users.length; i++ ) { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= users[i].name %></td>
                    <td><%= users[i].points %></td>
                </tr>
                <% } %>
            </tbody>

        </table>
    </div>
</body>
<script>
    function search() {
        let input = document.querySelector('#search');
        let table = document.querySelector('#users-table');
        let tr = table.getElementsByTagName('tr');
        let td;
        for (let i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName('td')[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(input.value.toUpperCase()) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

</html>