<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>

<body>
    <h1>Login</h1>
    <form id="logForm">
        <label for="email">Email: </label>
        <input name="email" id="email" type="email" autocomplete="off" required placeholder="Email"> <br>
        <label for="password">Password: </label>
        <input name="password" id="password" type="password" autocomplete="off" required placeholder="Password"> <br>
        <button type="submit" id="logBtn">Login</button>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="js/login.js"></script>


</html>