<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="login-div">
        <h1>Login</h1>
        <form id="logForm">
            <label for="email"> Email </label> <br>
            <input name="email" id="email" type="email" autocomplete="off" required placeholder="john.doe@ais.amity.edu"> <br>
            <label for="password">Password:</label> <br>
            <input name="password" id="password" type="password" placeholder="john1234" autocomplete="off" required> <br>
            <button type="submit" id="logBtn">Login</button> <br>
        </form>
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="js/login.js"></script>
<script>
    var button = document.querySelector('#logBtn')
    function load(){
        this.disabled= true;
        this.innerHTML = `
            <div class="loader">
            </div>
        `
        this.style.cursor="not-allowed";
    }
    button.addEventListener('click', load)
</script>

</html>