<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ncleaderboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="../assets/ts.png" type="image/x-icon">
    <style>
        .nav {
            display: flex;
            padding: 2.5vw;
            align-items: center;
        }

        .nav img {
            width: 5vw;
            height: 5vw;
        }

        .nav-links {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: auto;
        }

        .nav-links a {
            text-decoration: none;
            color: white;
            font-size: 1.5vw;
            letter-spacing: 1px;
            margin-right: 1vw;
            text-decoration: none;
            cursor: pointer;
            color: #eee;
            transition: all 0.5s ease;
        }

        .nav-links a:after {
            content: '';
            display: block;
            width: 0;
            height: 2.5px;
            transition: all 0.5s ease;
            background: #16e16e;
        }

        .nav-links a:hover:after {
            width: 100%;
        }

        button {
            background: #16e16e;
            border: none;
            font-family: 'Outfit', sans-serif;
            font-size: 1.35vw;
            padding-left: 1.75vw;
            padding-right: 1.75vw;
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
            cursor: pointer;
            border-radius: 25px;
            letter-spacing: 1.25px;
            margin-right: 1vw;
        }
    </style>
    <title> NC Leaderboard</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="leaderboard-div">
        <h1>Non Competitive Leaderboard</h1>
        <table id="users-table">
            <tbody>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
            </tbody>
            <tbody>

                <tr>
                    <td>1</td>
                    <td>

                        <i class="fa-solid fa-user-crown" style="color: white;"></i>

                        Prakhar Khurana</td>
                    <td>1000</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>

                        hmmm</td>
                    <td>700</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>

                        kshitij kapoor</td>
                    <td>600</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>

                        Kabir Bhalla</td>
                    <td>600</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>

                        Nishit Jain</td>
                    <td>500</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>

                        Sparkfeast</td>
                    <td>400</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>

                        Aditya Sharma</td>
                    <td>400</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>

                        Varun Sharma</td>
                    <td>400</td>
                </tr>

                <tr>
                    <td>9</td>
                    <td>

                        shubhan agrawal</td>
                    <td>300</td>
                </tr>

                <tr>
                    <td>10</td>
                    <td>

                        gauri mishra</td>
                    <td>0</td>
                </tr>

                <tr>
                    <td>11</td>
                    <td>

                        Pranjli Aggarwal</td>
                    <td>0</td>
                </tr>

            </tbody>

        </table>
    </div>
</body>
<script src="https://kit.fontawesome.com/0c15efcf9c.js" crossorigin="anonymous"></script>

</html>