<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>

<body>


    <h1>Register</h1>

    <form id="regForm">
        <label for="userId">User Id:</label> <br>
        <input name="userId" id="userId" type="number" autocomplete="off" required placeholder="23524"> <br>
        <label for="password">Password:</label> <br>
        <input name="password" id="password" type="password" autocomplete="off" required placeholder="At least 6 characters"> <br>
        <label for="cpassword">Confirm Password:</label> <br>
        <input name="cpassword" id="cpassword" type="password" autocomplete="off" required placeholder=""> <br>
        <button type="submit" id="regBtn">Register</button> <br>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script type="module" src="js/register.js"></script>

</html>