<!DOCTYPE html>
<html lang="en">

<head>
    <style>

    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="shortcut icon" href="./assets/ts.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>

<body>

    <%- include('./partials/nav.ejs') %>


    <div class="register-div" onsubmit="load()">
        <h1>Register</h1>
        <form id="regForm">
            <label for="email"> Email </label> <br>
            <input name="email" id="email" type="email" autocomplete="off" required placeholder="john.doe@ais.amity.edu"> <br>
            <label for="password">Password:</label> <br>
            <input name="password" id="password" type="password" autocomplete="off" required placeholder="Same as inTech Registration"> <br>
            <label for="cpassword">Confirm Password:</label> <br>
            <input name="cpassword" id="cpassword" type="password" autocomplete="off" required placeholder="Confirm Password"> <br>
            <button type="submit" id="regBtn">Register</button> <br>
        </form>
    </div>
    <br><br>
    <a href="/nc" class="nc">
        Register as Non Competitive instead? (Only for Non-AISG46 Students)
    </a><br> <br>
    <a href="/forgot" class="forgot">
        Forgot Password?
    </a>
</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script type="module" src="js/register.js"></script>
<script>
    var button = document.querySelector('#regBtn')

    function load() {
        this.disabled = true;
        this.innerHTML = `
            <div class="loader">
            </div>
        `
        this.style.cursor = "not-allowed";
        setTimeout(() => {
            this.disabled = false;
            this.innerHTML = "Register";
            this.style.cursor = "pointer";
        }, 7000);
    }
    button.addEventListener('click', load)
</script>

</html>