@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: black;
    font-family: 'Outfit', sans-serif;
}
h1 {
    padding-bottom: 1vw;
    margin-left: 5vw;
    color: #16e16e;
    font-size: 3.5vw;
}

.user {
    background-color: #171717;
    padding: 2.5vw;
    width: 75vw;
    color: white;
    font-family: 'Outfit', sans-serif;
    border-radius: 15px;
    margin-left: 5vw;
    margin-bottom: 2.5vw;
}

.user span {
    color: #16e16e;
    font-weight: 500;
}

.user button {
    margin-top: 15px;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    background-color: #16e16e;
    font-size: 1rem;
    border-radius: 40px;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    font-weight: 400;
    border:none;
    margin-right: 1.5vw;
}