@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: black;
    margin-left: 5vw;
    padding-top: 2vw;
    font-family: 'Outfit', sans-serif;
}
h1 {
    padding-bottom: 1vw;
    color: #16e16e;
    font-size: 2.5rem;
}


.answer {
    padding: 2vw;
    background-color: #171717   ;
    color: white;
    font-family: 'Outfit', sans-serif;
    border-radius: 15px;
    margin: 2vw;
    margin-right: 20vw;
}

.answer span {
    color: #16e16e;
    font-weight: 500;
}

.answer button {
    margin-top: 15px;
    width: 10vw !important;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    background-color: #16e16e;
    font-size: 1rem;
    border-radius: 40px;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    font-weight: 400;
    border:none;
}