@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: black;
    font-family: 'Outfit', sans-serif;
}
.loader{
    height: 100vh;
    width: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}
.dashboard{
    margin-left: 5vw;
    margin-top: -3.5vw;
}
h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

span {
    color: #16e16e;
}

.ques {
    color: white; 
    font-size: 1.5rem;
    font-weight: 500;
    max-width:50%;
}

input {
    height: 1.5vh;
    width: 50vw;
    border-radius: 5px;
    padding: 1vw;
    margin-bottom:1.3vw;
    background-color: #171717;
    border: none;
    font-size: 1rem;
    color: #fff;
    font-family: 'Outfit', sans-serif;

}

button {
    margin-top: 15px;
    width: 10vw !important;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    background-color: #16e16e;
    font-size: 1rem;
    border-radius: 40px;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    font-weight: 400;
    border:none;
}
.dashboard img{
    width: 25vw;
    height: 20vw;
}
#ansForm{
    margin-top: 1.5vw;
}
.file{
    text-decoration: none;
    color: #16e16e;
    font-size: 1.25vw;
    font-weight: 500;
    letter-spacing: 1.2px;
}
.loader svg{
    transform: scale(0.3);
    margin-top: -22.5vw;
    margin-left: auto;
    margin-right: auto;
}
.loader2{
    height: 2.5vw;
    width: 2.5vw;
    border-top: 2px solid #eee;
    border-left: 2px solid #eee;
    border-radius: 100%;
    animation: roll 2s ease;
    transition: all 2s ease;
    margin-left: auto;
    animation-iteration-count: infinite;
    margin-right: auto;
  }
  @keyframes roll {
    0%{
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(180deg);
    }
    100%{
      transform: rotate(360deg);
    }
  } 
