@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: black;
    font-family: 'Outfit', sans-serif;
    color: #eee;
}
.login-div h1 {
    font-size: 3.5vw;
    color: #eee;
    margin-left: 6vw;
    margin-top: -1vw;
    letter-spacing: 1.25px;
}

.login-div form {
    margin-left: 6vw;
    margin-top: 2.5vw;
}

.login-div form label {
    color: #16e16e;
    font-size: 1.5vw;
    margin-bottom: 2vw;
}

.login-div form input {
    width: 30vw;
    padding: 1vw;
    margin-top: 1.3vw;
    margin-bottom: 1.3vw;
    background-color: #000;
    border: none;
    border-bottom: 2px solid #eee;
    font-size: 1vw;
    color: #eee;
    font-family: 'Outfit', sans-serif;
    transition: all 0.5s ease; 
    font-size: 1.25vw;
}
.login-div form input::placeholder{
    color: #eee;
}
.login-div form input:focus{
    outline: none;
    border-bottom: 2px solid #16e16e;
}
.loader{
    height: 1.5vw;
    width: 1.5vw;
    border-top: 2px solid #eee;
    border-left: 2px solid #eee;
    border-radius: 100%;
    animation: roll 2s ease;
    transition: all 2s ease;
    margin-left: auto;
    margin-right: auto;
    animation-iteration-count: infinite;
  }
  @keyframes roll {
    0%{
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(180deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
.nc {
  color: #16e16e;
  margin-left: 5.5vw;
  text-decoration: none;
  font-size: 1.3vw;
}
.forgot {
  color: #16e16e;
  margin-left: 5.2vw;
  margin-top: 2vw;
    text-decoration: none;
    font-size: 1.3vw;
}