
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');




body {
    background-color: black;
    margin-left: 2vw;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #16e16e;
    margin-top: 2vw;
    margin-bottom: 5vw;
}



/* make form labels #16e16e */
label {
    color: #16e16e;
    font-size: 1.5vw;
    font-family: 'Outfit', sans-serif;  
    margin-bottom: 2vw;    
}



input {
    height: 1.5vh;
    width: 30vw;
    border-radius: 5px;
    padding: 1vw;
    margin-top:1.3vw;
    margin-bottom:1.3vw;
    background-color: #000;
    border: #2C2A2A solid 2px;
    font-size: 1rem;
    color: #fff;
    font-family: 'Outfit', sans-serif;

}

button {
    margin-top: 15px;
    width: 15vw !important;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: #16e16e;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    font-weight: 400;
}